@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
    font-family: $default-font
h1
    font: 60px $medium !important
    color: #fff
h2
    font: 24px $default-font !important
    color: #fff
.screen-1
    background-image: url('../img/bgr.png')
    background-size: cover
    height: 768px
    &__header
        position: fixed
        width: 100%
        &__logo
            width: 230px
            height: 45px
            float: left
            position: absolute
            top: 31px
            left: 100px
        &__logo p
            font: 14px $default-font
            color: #fff
            margin-top: 2px
        &__contact
            width: 315px
            height: 50px
            position: absolute
            top: 31px
            right: 100px
        &__contact a
            text-decoration: none
            color: #fff
            font: 16px $default-font
        &__contact span
            margin-left: 10px
            font: 13px $medium
            padding: 9px 45px
            border: 1px solid #fff
            color: #fff
            transition: all .19s ease-in-out
        &__contact span:hover
            background-color: #fff
            transition: all .09s ease-in-out
            color: #000
    &__content
        position: relative
        top: 220px
        &__main-text
            width: 760px
            text-align: center
            margin: 0 auto
            &__order
                width: 190px
                height: 50px
                background-color: #578EDF
                margin: 0 auto
                transition: all .19s ease-in-out
            &__order:hover
                background-color: #4C80D6
                transition: all .09s ease-in-out

            &__order img
                margin-top: 19px
            &__order span
                font: 15px $medium
                margin-left: 15px
            &-blue
                color: #578EDF !important
        &__main-text span
            color: #fff
        &__bottom-text
            color: #B5B9BB
            font: 14px $default-font
            max-width: 1155px
            margin: 200px auto 0 auto
            text-align: center

.space
    &-1
        height: 40px
    &-2
        height: 45px


@import "media" // Всегда в конце
